<h1>Sign up, guys!</h1>

<% if flash[:errors] && !flash[:errors].empty? %>
Sorry, your passwords do not match
  <% flash[:errors].each do |error| %>
  <li><%= error %></li>
  <% end %>
<% end %>

<form method="post" action="/user">
  Name: <input type="text" name="name">
  Username: <input type="text" name="username">
  Email: <input type="text" name="email">
  Password: <input type="text" name="password">
  Password Confirmation: <input type="text" name="password_confirmation">
  <input type="submit" value="Sign up">
</form>