<!DOCTYPE html>
<html>
<head>
  <title>Chitter</title>
</head>
<body>
  <% if current_user %>
    Welcome, <%= current_user.name %>
    <form method='post' action='/sessions'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Sign out' id='submit-buttons'>
    </form>
  <% else %>
  <div id="signup-signin">
  <a href="/users/new" id="submit-buttons">Sign up</a>
  <a href="/sesssions/new" id="submit-buttons">Sign in</a>
  </div>
  <% end %>
  <%= yield %>

</body>
</html>